<%= javascript_include_tag 'page_scroll' %>
<div class="my-5">
	<!-- shopとuser切り替え -->
	<% unless @user.shop.blank? %>
	  <%= render "shop_show" %>
	<% else %>
	  <%= render "user_show" %>
	<% end %>

</div>
