<%= javascript_include_tag 'delighters.min' %>
<div class="container-fluid about-text">
	<div class="row  justify-content-center">
		<div class=" col-10 py-5">
			<p>このWE STYLEは....</p>
			<br>
			<p>「セレクトショップ」「ショップスタッフ」「ユーザー」、ファッションを楽しむ人達全てが参加できる</p>
			<p>ファッションに特化したSNSサイトです。</p>
			<br>
			<p>オンラインショップが数多く普及される中でも、店舗を構えて「素材」「フォルム」にこだわり、お客様の手に取って感動を感じてもらいたいと強く思う「セレクトショップ」</p>
			<p>将来、自分の店を持ちたいと日々を頑張り経験と力を得るため奮闘する「ショップスタッフ」</p>
			<p>お洒落を武器にファッションを楽しみ、人生を桜花している「ユーザー」</p>
			<br>
			<p>他にも数え切れないくらい思いが強い方が沢山いるはずです。</p>
			<p>そんな方、全てに価値ある情報と面白いシステムをお届けできればと思い「WESTYLE」を作りました。</p>
		</div>
	</div>

	<div class="contents">
		<div class="contents-right">
		    <div class="contents_inner row align-items-center">
		    	<div class="col-12 col-md-6">
		    		<!-- 空 -->
		      	</div>
		      	<div class="col-12 col-md-6 d-none d-md-block">
		      		<h1 class="pb-2">TOP</h1>
		      		<p>過去の投稿をTOPページのみで全て表示</p>
		      		<p>「ALL」「SHOP」「USER」で絞り込みも可能。</p>
		      	</div>
		      	<div class="d-md-none contents_inner_md p-2">
					<p>過去の投稿をTOPページのみで全て表示</p>
		      		<p>「ALL」「SHOP」「USER」で絞り込みも可能。</p>
				</div>
		    </div>
		</div>   
	</div>
	

	<div class="contents-2">
		<div class="contents-right-2">
		    <div class="contents_inner_2 row align-items-center">
		      	<div class="col-12 col-md-6 d-none d-md-block">
		      		<h1 class="pb-2">TOP</h1>
		      		<p>ログイン時には、フォロー中のユーザーのタイムライン機能</p>
		      		<p>フォローしておけば、気になるユーザーの投稿を簡単にチェックできる。</p>
		      	</div>
		      	<div class="d-md-none contents_inner_md_2 p-2">
					<p>ログイン時には、フォロー中のユーザーのタイムライン機能</p>
		      		<p>フォローしておけば、気になるユーザーの投稿を簡単にチェックできる。</p>
				</div>
		    </div>
		</div>   
	</div>
	

	<div class="contents-3">
		<div class="contents-right-3">
		    <div class="contents_inner_3 row align-items-center">
		    	<div class="col-12 col-md-6">
		    		<!-- 空 -->
		      	</div>
		      	<div class="col-12 col-md-6 d-none d-md-block">
		      		<h1 class="pb-2">SHOW</h1>
		      		<p>詳細ページでは、コメント機能</p>
		      		<p>ログイン中であれば、「SHOP」「USER」誰とでも繋がります。</p>
		      	</div>
		      	<div class="d-md-none contents_inner_md_3 p-2">
					<p>詳細ページでは、コメント機能</p>
		      		<p>ログイン中であれば、誰とでも繋がります。</p>
				</div>
		    </div>
		</div>   
	</div>

	<div class="contents-4">
		<div class="contents-right-4">
		    <div class="contents_inner_4 row align-items-center">
		      	<div class="col-12 col-md-6 d-none d-md-block">
		      		<h1 class="pb-2">SHOW</h1>
		      		<p>ショートムービー投稿機能</p>
		      		<p>画像のみでは伝えきれない良さを躍動感ある動画で情報を届けることも可能です。</p>
		      	</div>
		      	<div class="d-md-none contents_inner_md_4 p-2">
					<p>投稿画像クリックでタグ機能</p>
		      		<p>「カラー」「ブランド」「商品名」「サイズ」全て自由に指定できるタグ制作機能で価値ある情報を発信できる。</p>
				</div>
		    </div>
		</div>   
	</div>

	<div class="contents-5">
		<div class="contents-right-5">
		    <div class="contents_inner_5 row align-items-center">
		    	<div class="col-12 col-md-6">
		    		<!-- 空 -->
		      	</div>
		      	<div class="col-12 col-md-6 d-none d-md-block">
		      		<h1>SHOW</h1>	
		      		<p>投稿画像クリックでタグ機能</p>
		      		<p>「カラー」「ブランド」「商品名」「サイズ」全て自由に指定できるタグ制作機能で価値ある情報を発信できる。</p>
		      	</div>
		      	<div class="d-md-none contents_inner_md_5 p-2">
		      		<p>投稿画像クリックでタグ機能</p>
		      		<p>「カラー」「ブランド」「商品名」「サイズ」全て自由に指定できるタグ制作機能で価値ある情報を発信できる。</p>
				</div>
		    </div>
		</div>   
	</div>

	<div class="contents-6">
		<div class="contents-right-6">
		    <div class="contents_inner_6 row align-items-center">
		    	<div class="col-12 col-md-6">
		    		<!-- 空 -->
		      	</div>
		      	<div class="col-12 col-md-6 d-none d-md-block">
		      		<h1 class="pb-2">USER</h1>
		      		<p>フォロー機能</p>
		      		<p>SHOPであれば顧客管理にも、USERであればSHOPの宣伝で..「値引き？」なんてことも使い方はアナタ次第です。</p>
		      	</div>
		      	<div class="d-md-none contents_inner_md_6 p-2">
					<p>フォロー機能</p>
		      		<p>SHOPであれば顧客管理にも、USERであればSHOPの宣伝で..「値引き？」なんてことも使い方はアナタ次第です。</p>
				</div>
		    </div>
		</div>   
	</div>

	<div class="row justify-content-center">
		<div class="col-10 py-5">
			<p>数あるアプリケーションがある中にこのサイトに辿り付いて頂き有り難うございます。</p>
			<br>
			<p>何か意見やトラブルなどがあった場合は、気軽に<%= link_to "問い合わせ", home_contact_path %>よりご連絡ください。</p>
			<p>迅速に解決致します！！！</p>
		</div>
	</div>	
	


</div>


