<h3>WESTYLEからのお問い合わせ内容</h3>

------------------------------------------------
<p>name: <%= @contact.name %></p>
<br>
<p>email: <%= @contact.email %></p>
<br>
<p>content: <%= @contact.message %></p>

------------------------------------------------